services:
  nginx:
    build:
      context: .
      dockerfile: requirements/nginx/Dockerfile
    container_name: nginx
    depends_on:
      - wordpress
      - static
    ports:
      - "443:443"
    networks:
      - inception
    volumes:
      - ./requirements/nginx/conf/:/etc/nginx/http.d/
      - wp-volume:/var/www/
    restart: always
  
  mariadb:
    build:
      context: .
      dockerfile: requirements/mariadb/Dockerfile
      args:
        DB_NAME: ${DB_NAME}
        DB_USER: ${DB_USER}
        DB_PASS: ${DB_PASS}
        DB_ROOT: ${DB_ROOT}
    container_name: mariadb
    networks:
      - inception
    volumes:
      - db-volume:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 60s
      retries: 50
    restart: always
  
  wordpress:
    build:
      context: requirements/wordpress/
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: wordpress
    depends_on:
      mariadb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - inception
    volumes:
      - wp-volume:/var/www/
    restart: always

  redis:
    build:
      context: .
      dockerfile: requirements/bonus/redis/Dockerfile
    container_name: redis
    networks:
      - inception
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 60s
      retries: 50
    restart: always
  
  ftp:
    build:
      context: ./requirements/bonus/ftp
      dockerfile: Dockerfile
    env_file:
      - .env
    container_name: ftp
    ports:
      - "21:21"
      - "30000-30009:30000-30009"
    volumes:
      - wp-volume:/var/www
    networks:
      - inception
    depends_on:
      - wordpress
    restart: always

  
  static:
    build:
      context: .
      dockerfile: requirements/bonus/static/Dockerfile
    container_name: static
    networks:
      - inception
    restart: always
  
  adminer:
    build:
      context: requirements/bonus/adminer
      dockerfile: ./Dockerfile
    container_name: adminer
    depends_on:
      - mariadb
    networks:
      - inception
    restart: always

  netdata:
    build:
      context: ./requirements/bonus/netdata
      dockerfile: ./Dockerfile
    container_name: netdata
    networks:
      - inception
    volumes:
      - wp-volume:/var/lib/netdata/vol1
      - db-volume:/var/lib/netdata/vol2
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: always

volumes:
  wp-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/wordpress

  db-volume:
    driver_opts:
      o: bind
      type: none
      device: /home/${USER}/data/mariadb

networks:
    inception:
        driver: bridge
