@import url('https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Sedgwick+Ave+Display&display=swap');

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(15, 32, 87);
}

.nav-item
{
    font-weight: bold;
    font-family: 'Charm', cursive;
    font-size: 130%;
}

.navbar-collapse
{
    justify-content: center;
    font-size: 170%;
}

hr
{
    color: white;
    position: relative;
    z-index: -1;
}

body, html
{
    margin: 0;
    padding: 0;
    width: 100%;
}

body
{
    background-image: url('https://st.depositphotos.com/2228340/2414/i/450/depositphotos_24140635-stock-photo-seamless-starfield.jpg');
    background-color: blue;
    background-attachment: fixed;
    height: auto;
}

p
{
    margin: 0;
}

.home
{
    height: 7vh;
    margin-left: 20%;
}

#profile
{
    width: 23%;
    box-shadow: 0px 8px 16px -15px rgb(68, 118, 255);
    display: flex;
    margin: auto;
    margin-top: 7%;
    margin-bottom: 3%;
}

#unifi, #l42, #lsdv, #piano, #france
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#lsdv img
{
    width: 20%;
}

#lsdv, #piano
{
    margin-bottom: -10vh;
}

#l42 img, #unifi img
{
    width: 20%;
}

#unifi h3
{
    margin: 5%;
}

#l42 h3
{
    margin: 9%;
}

#lsdv h3, #piano h3, #france h3
{
    margin: 9%;
}

#firstPart, #secondPart, #thirdPart
{
    text-align: center;
    color: white;
}

#name
{
    margin-top: 1.5%;
    font-weight: bold;
    margin-bottom: 8%;
}

.titles
{
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: -5%;
    color: rgb(157, 157, 255);
    font-size: 300%;
}

.icon
{
    width: 7%;
    margin-top: 10%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;

}

h3
{
    background-image: url(./bg_text.jpg);
    background-color: white;
    border-radius: 50px;
    padding: 1%;
    color: darkblue;
}

#thirdPart
{
    background-image: url(./water.jpg);
    background-attachment: fixed;
}

a
{
    text-decoration: none;
}
